{% extends "inc/base.html" %}

{% block user %}
    {% include "inc/header_not_authorised.html" %}
{% endblock user %}

<div>
    {% block content %}
        <form class="gy-4">
            <h3>New Question</h3>
            <div class="md-3 mb-3">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="email@example.com">
            </div>
            <div class="md-3 mb-3 form-floating">
                <textarea class="form-control" id="text" rows="5"></textarea>
                <label for="text">Your question</label>
            </div>
            <div class="md-3 mb-3">
                <label for="tags">Tags</label>
                <input type="text" class="form-control tags" id="tags">
            </div>
            <div class="md-3 mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    {% endblock %}
</div>