{% extends 'inc/base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block content %}
    <div class="row">
        <span id="page_header">Log in</span>
    </div>

    {% if error_message %}<span id="alert_message">{{ error_message }}</span>{% endif %}

    <form class="form" method="POST" action="/login/?next={{ redirect_to }}" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="page_btn btn btn-outline-secondary">Log in</button>
        {% endbuttons %}
    </form>
    <a href="{% url 'signup' %}">Create new account</a>
{% endblock content %}

{% block right %}
    {% include 'inc/tags.html' %}
{% endblock right %}

{% block page_btns %}
{% endblock page_btns %}