{% extends "inc/base.html" %}

{% block user %}
    {% include "inc/header_not_authorised.html" %}
{% endblock user %}

{% load static %}

{% block content %}
    <h3 class="mb-5">Registration</h3>
    <div class="card p-5">
        <form class="form">
            <div class="col-md-3 mb-3 justify-content-center align-items-center">
                <img style="height: 50%; width: 50%; object-fit: cover" class="img-thumbnail" src="../static/img/no_avatar.jpeg" alt="">
            </div>
            <div class="mb-3">
                <label>Login</label>
                <input type="text" class="form-control" id="login" placeholder="login">
            </div>
            <div class="mb-3">
                <label>Email</label>
                <input type="email" class="form-control" id="email" placeholder="example@mail.com">
            </div>
            <div class="mb-3">
                <label>NickName</label>
                <input type="text" class="form-control" id="nickname" placeholder="nickname">
            </div>
            <div class="mb-3">
                <label>Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="mb-3">
                <label>Repeat Password</label>
                <input type="password" class="form-control" id="r_password">
            </div>
            <div class="mb-3">
                <label>Upload Avatar</label>
                <input class="form-control" type="file" id="avatar">
              </div>
            <input type="submit" class="btn" value="Register me!"/>
            <a style="font-size: 12px; color:#575656; text-decoration: none; margin-left: 16px" href="{% url "index" %}">Return to questions</a>
        </form>
    </div>
{% endblock %}