{% load static %}
{% load vote_tags %}

<a name="{{ answer.id }}"></a>
<div class="row question-box">
    <div class="col-3 question_box_left">
        <div class="row">
            <img src="{{ answer.author.image.url }}" alt="My image" class="question-img">
        </div>
        <div class="row like_widget">
            {% if request.user.is_authenticated %}
                {% get_vote request.user 'answer' answer.id as vote %}

                <a id="answer-upvote-btn-qid-{{ answer.id }}" href="#" class="js-vote {% if vote == 'LIKE' %} js-vote-inactive {% endif %}" data-action="like"
                data-oid="{{ answer.id }}" data-type="answer">
                    <button class="fade-button-upvote">
                        &#128077
                    </button>
                </a>

                <div class="bd-highlight like-status" style="margin-left: 10px">
                    <p id="answer-rating-qid-{{ answer.id }}">{{ answer.rating }} </p>
                </div>

                <a id="answer-downvote-btn-qid-{{ answer.id }}" href="#" class="js-vote {% if vote == 'DIS' %} js-vote-inactive {% endif %}" data-action="dislike"
                data-oid="{{ answer.id }}" data-type="answer">
                    <button class="fade-button-downvote">
                        &#128078
                    </button>
                </a>
            {% else %}
                <div class="bd-highlight like-status">
                    <p id="answer-rating-qid-{{ answer.id }}">rating: {{ answer.rating }} </p>
                </div>
            {% endif %}


        </div>
    </div>
    <div class="col-9">
            <div class="question_box_right">
                <div class="question-text">{{ answer.text }}</div>
                <div class="row answers_links_bottom">
                    <div class="col">
                        <div class="form-check">
                            {% if request.user.profile == question.author %}
                                <input id="answer-iscorrect-checkbox-aid-{{ answer.id }}" class="form-check-input js-correct-answer" type="checkbox" value="" data-qid="{{question.id}}" data-aid="{{answer.id}}"
                                {% if answer.is_correct %} checked="checked" {% endif %}>
                                    <label id="answer-iscorrect-checkbox-label-aid-{{ answer.id }}" class="form-check-label" for="answer-iscorrect-checkbox-aid-{{ answer.id }}">
                                        correct!
                                    </label>
                                </input>
                            {% else %}
                                {% if answer.is_correct %}
                                <p>This answer was marked by question author as correct</p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>