{% load static %}
{% load vote_tags %}

<div class="row question-box">
	<div class="col-3 question_box_left">
		<div class="row question-img box">
			<img src="{{ question.author.image.url }}" alt="My image">
		</div>
		<div class="row like_widget">
			{% if request.user.is_authenticated %}
				{% get_vote request.user 'question' question.id as vote %}
				<a id="question-upvote-btn-qid-{{ question.id }}" href="#" class="js-vote {% if vote == 'LIKE' %} js-vote-inactive {% endif %}" data-action="like"
				data-oid="{{ question.id }}" data-type="question">
					<button class="fade-button-upvote">
						&uarr;
					</button>
				</a>

				<div class="bd-highlight like-status">
					<p id="question-rating-qid-{{ question.id }}">{{ question.rating }}</p>
				</div>

				<a id="question-downvote-btn-qid-{{ question.id }}" href="#" class="js-vote {% if vote == 'DIS' %} js-vote-inactive {% endif %}" data-action="dislike"
				data-oid="{{ question.id }}" data-type="question">
					<button class="fade-button-downvote">
						&darr;
					</button>
				</a>
			{% else %}
				<div class="bd-highlight like-status">
						<p id="question-rating-qid-{{ question.id }}">rating: {{ question.rating }} </p>
				</div>
			{% endif %}
		</div>
	</div>
    <div class="col-9">
		<div class="question_box_right">
			<div class="question-title">{{ question.title }}</div>
			<div class="question-text">{{ question.text }}</div>
			<div class="row">
				<div class="col">
					<a class="ans_tag" href="{% url 'question_answers' question.id  %}">{{ question.count_answers }} answers</a>
				</div>
				<div class="col">
					<span class="ans_tag">Tags:</span>
					{% for tag in question.tags.get_all_tags %}
            			<a class="ans_tag" href="{% url 'tag' tag  %}">{{ tag }}</a>
        			{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>