<div>
    <div class="row">
        <span class="row tags_header">Tags</span>
    </div>
    <div class="row link_tags">
        {% for tag in tags %}
            <a class="sample_tag lang_tag" href="{% url 'tag' tag  %}">{{ tag }}</a>
        {% endfor %}
    </div>
</div>
<div>
    <div class="row">
        <span class="row tags_header">Best Members</span>
    </div>
    <div class="row link_tags">
        {% for member in members %}
            <a class="sample_tag" href="">{{ member }}</a>
        {% endfor %}
    </div>
</div>