<a href="{% url "tag" "c++" %}" style="padding-left: 16px">c++</a>
<a href="{% url "tag" "twitter-bootstrap" %}" style="padding-left: 16px">twitter-bootstrap</a>
<a href="{% url "tag" "web" %}" style="padding-left: 16px">web</a>
<a href="{% url "tag" "frontend" %}" style="padding-left: 16px">frontend</a>
<a href="{% url "tag" "backend" %}" style="padding-left: 16px">backend</a>
<a href="{% url "tag" "css" %}" style="padding-left: 16px">css</a>
<a href="{% url "tag" "html" %}" style="padding-left: 16px">html</a>
<a href="{% url "tag" "loops" %}" style="padding-left: 16px">loops</a>
<a href="{% url "tag" "python" %}" style="padding-left: 16px">python</a>
<a href="{% url "tag" "django" %}" style="padding-left: 16px">django</a>
<a href="{% url "tag" "serialization" %}" style="padding-left: 16px">serialization</a>